In [1]:
import pandas as pd
import json

Convertir clients data en dataframe

In [2]:
# Cargar los datos de clientes desde el archivo JSON
with open('data/processed/clients_data.json', 'r') as f:
    clients_data = json.load(f)

# Convertir el diccionario en un DataFrame
clients_df = pd.DataFrame.from_dict(clients_data, orient='index')

# Restablecer el Ã­ndice y nombrar la columna 'client_id'
clients_df.reset_index(inplace=True)
clients_df.rename(columns={'index': 'client_id'}, inplace=True)

# Verificar el DataFrame resultante
print(clients_df.head())
print(clients_df.info())

  client_id                   address birth_month birth_year credit_score  \
0      1556  594 Mountain View Street           7       1989          740
1       561           604 Pine Street           6       1971          834
2      1129          2379 Forest Lane           4       1970          686
3       430        903 Hill Boulevard           5       1967          685
4       848           166 River Drive           5       1968          711

  current_age  gender latitude longitude num_credit_cards per_capita_income  \
0          30  Female     46.8   -100.76                4            $23679
1          48    Male     40.8    -91.12                5            $18076
2          49    Male    33.18   -117.29                3            $16894
3          52  Female    41.42    -87.35                5            $26168
4          51    Male    38.86     -76.6                2            $33529

  retirement_age total_debt yearly_income
0             67    $110153        $48277
1             67    $112139        $36853
2             65     $36540        $34449
3             67    $128676        $53350
4             69     $96182        $68362
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1219 entries, 0 to 1218
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   client_id          1219 non-null   object
 1   address            1219 non-null   object
 2   birth_month        1219 non-null   object
 3   birth_year         1219 non-null   object
 4   credit_score       1219 non-null   object
 5   current_age        1219 non-null   object
 6   gender             1219 non-null   object
 7   latitude           1219 non-null   object
 8   longitude          1219 non-null   object
 9   num_credit_cards   1219 non-null   object
 10  per_capita_income  1219 non-null   object
 11  retirement_age     1219 non-null   object
 12  total_debt         1219 non-null   object
 13  yearly_income      1219 non-null   object
dtypes: object(14)
memory usage: 133.5+ KB
None

In [3]:
clients_df.head()

,client_id,address,birth_month,birth_year,credit_score,current_age,gender,latitude,longitude,num_credit_cards,per_capita_income,retirement_age,total_debt,yearly_income
0,1556,594 Mountain View Street,7,1989,740,30,Female,46.8,-100.76,4,$23679,67,$110153,$48277
1,561,604 Pine Street,6,1971,834,48,Male,40.8,-91.12,5,$18076,67,$112139,$36853
2,1129,2379 Forest Lane,4,1970,686,49,Male,33.18,-117.29,3,$16894,65,$36540,$34449
3,430,903 Hill Boulevard,5,1967,685,52,Female,41.42,-87.35,5,$26168,67,$128676,$53350
4,848,166 River Drive,5,1968,711,51,Male,38.86,-76.6,2,$33529,69,$96182,$68362

Convertir Cardd data en dataframe

In [5]:
# Cargar los datos de tarjetas desde el archivo JSON
with open('data/processed/cards_data.json', 'r') as f:
    cards_data = json.load(f)

# Convertir los datos en una lista de diccionarios
cards_list = []

for client_id, cards in cards_data.items():
    for card_id, card_info in cards.items():
        card_info['client_id'] = client_id
        card_info['card_id'] = card_id
        cards_list.append(card_info)

# Convertir la lista en un DataFrame
cards_df = pd.DataFrame(cards_list)

# Verificar el DataFrame resultante
print(cards_df.head())
print(cards_df.info())

  acct_open_date  card_brand       card_number card_on_dark_web  \
0        05/2008  Mastercard  5497590243197280               No
1        08/2010  Mastercard  5225389722526534               No
2        04/2013  Mastercard  5918296616309874               No
3        07/2006  Mastercard  5250625336912959               No
4        09/2005  Mastercard  5175842699412235               No

         card_type client_id credit_limit  cvv  expires has_chip  \
0  Debit (Prepaid)      1556          $55  306  07/2022      YES
1            Debit      1556       $24772  891  09/2023      YES
2  Debit (Prepaid)       561          $69  983  05/2024      YES
3            Debit       561       $26960  326  04/2022      YES
4           Credit       561        $9100  438  12/2024      YES

  num_cards_issued year_pin_last_changed card_id
0                2                  2008    2972
1                2                  2010    4333
2                1                  2013    2716
3                1                  2010    3764
4                1                  2015    4575
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4071 entries, 0 to 4070
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   acct_open_date         4071 non-null   object
 1   card_brand             4071 non-null   object
 2   card_number            4071 non-null   object
 3   card_on_dark_web       4071 non-null   object
 4   card_type              4071 non-null   object
 5   client_id              4071 non-null   object
 6   credit_limit           4071 non-null   object
 7   cvv                    4071 non-null   object
 8   expires                4071 non-null   object
 9   has_chip               4071 non-null   object
 10  num_cards_issued       4071 non-null   object
 11  year_pin_last_changed  4071 non-null   object
 12  card_id                4071 non-null   object
dtypes: object(13)
memory usage: 413.6+ KB
None

In [6]:
cards_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4071 entries, 0 to 4070
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   acct_open_date         4071 non-null   object
 1   card_brand             4071 non-null   object
 2   card_number            4071 non-null   object
 3   card_on_dark_web       4071 non-null   object
 4   card_type              4071 non-null   object
 5   client_id              4071 non-null   object
 6   credit_limit           4071 non-null   object
 7   cvv                    4071 non-null   object
 8   expires                4071 non-null   object
 9   has_chip               4071 non-null   object
 10  num_cards_issued       4071 non-null   object
 11  year_pin_last_changed  4071 non-null   object
 12  card_id                4071 non-null   object
dtypes: object(13)
memory usage: 413.6+ KB

Convertir Etiquetas de fraude a dataframe

In [8]:
# Cargar las etiquetas de fraude desde el archivo JSON
with open('data/raw/train_fraud_labels.json', 'r') as f:
    fraud_labels = pd.read_json(f)

# Verificar el contenido
print(fraud_labels.head())
print(fraud_labels.info())

         target
10649266     No
23410063     No
9316588      No
12478022     No
9558530      No
<class 'pandas.core.frame.DataFrame'>
Index: 8914963 entries, 10649266 to 15151926
Data columns (total 1 columns):
 #   Column  Dtype
---  ------  -----
 0   target  object
dtypes: object(1)
memory usage: 136.0+ MB
None

In [12]:
fraud_labels.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8914963 entries, 10649266 to 15151926
Data columns (total 1 columns):
 #   Column  Dtype
---  ------  -----
 0   target  object
dtypes: object(1)
memory usage: 136.0+ MB

In [13]:
# Mostrar las primeras filas
print(fraud_labels.head())

# Verificar la cantidad de registros
print(f'Total de registros en fraud_labels: {len(fraud_labels)}')

# Verificar los tipos de datos
print(fraud_labels.dtypes)

         target
10649266     No
23410063     No
9316588      No
12478022     No
9558530      No
Total de registros en fraud_labels: 8914963
target    object
dtype: object

In [14]:
# AsegÃºrate de tener cargado el DataFrame de transacciones
transactions = pd.read_csv('data/raw/transactions_data.csv', parse_dates=['date'])

# Verificar el contenido
print(transactions.head())
print(transactions.dtypes)

        id                date  client_id  card_id   amount  \
0  7475327 2010-01-01 00:01:00       1556     2972  $-77.00
1  7475328 2010-01-01 00:02:00        561     4575   $14.57
2  7475329 2010-01-01 00:02:00       1129      102   $80.00
3  7475331 2010-01-01 00:05:00        430     2860  $200.00
4  7475332 2010-01-01 00:06:00        848     3915   $46.41

            use_chip  merchant_id merchant_city merchant_state      zip   mcc  \
0  Swipe Transaction        59935        Beulah             ND  58523.0  5499
1  Swipe Transaction        67570    Bettendorf             IA  52722.0  5311
2  Swipe Transaction        27092         Vista             CA  92084.0  4829
3  Swipe Transaction        27092   Crown Point             IN  46307.0  4829
4  Swipe Transaction        13051       Harwood             MD  20776.0  5813

  errors
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
id                         int64
date              datetime64[ns]
client_id                  int64
card_id                    int64
amount                    object
use_chip                  object
merchant_id                int64
merchant_city             object
merchant_state            object
zip                      float64
mcc                        int64
errors                    object
dtype: object

In [15]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13305915 entries, 0 to 13305914
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   id              int64
 1   date            datetime64[ns]
 2   client_id       int64
 3   card_id         int64
 4   amount          object
 5   use_chip        object
 6   merchant_id     int64
 7   merchant_city   object
 8   merchant_state  object
 9   zip             float64
 10  mcc             int64
 11  errors          object
dtypes: datetime64[ns](1), float64(1), int64(5), object(5)
memory usage: 1.2+ GB

In [16]:
# Mostrar las primeras filas del DataFrame
print(fraud_labels.head())

# Mostrar los nombres de las columnas
print(fraud_labels.columns)

         target
10649266     No
23410063     No
9316588      No
12478022     No
9558530      No
Index(['target'], dtype='object')

In [19]:
fraud_labels.value_counts()

target
No        8901631
Yes         13332
Name: count, dtype: int64

In [17]:
# Verificar el nÃºmero de transacciones
num_transactions = len(transactions)
print(f'NÃºmero de transacciones: {num_transactions}')

# Verificar el nÃºmero de etiquetas de fraude
num_labels = len(fraud_labels)
print(f'NÃºmero de etiquetas de fraude: {num_labels}')

NÃºmero de transacciones: 13305915
NÃºmero de etiquetas de fraude: 8914963

Al verificar que no coinciden las transacciones con las etiquetas de fraude debo pausar y volver en otro momento para:

1. Leer nuevamente la documentaciÃ³n del reto
2. Intentar combinar las etiquetas con mcc_codes.json
3. Verificar que tengo todos los datos pasados a dataframes